<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DocumentHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DocumentHelper.Properties.Settings>
            <setting name="FirstThemeColor" serializeAs="String">
                <value>#dce4e5</value>
            </setting>
            <setting name="SecondThemeColor" serializeAs="String">
                <value>#5ca4b0</value>
            </setting>
            <setting name="ThirdThemeColor" serializeAs="String">
                <value>#8ccccc</value>
            </setting>
            <setting name="FourthThemeColor" serializeAs="String">
                <value>#354a53</value>
            </setting>
            <setting name="FifthThemeColor" serializeAs="String">
                <value>#7d8f95</value>
            </setting>
        </DocumentHelper.Properties.Settings>
    </userSettings>
</configuration>