<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DocumentHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DocumentHelper.Properties.Settings>
            <setting name="TelRules" serializeAs="String">
                <value />
            </setting>
            <setting name="PinRules" serializeAs="String">
                <value />
            </setting>
            <setting name="MemberIdRules" serializeAs="String">
                <value />
            </setting>
            <setting name="MailRules" serializeAs="String">
                <value />
            </setting>
        </DocumentHelper.Properties.Settings>
    </userSettings>
</configuration>